nav {
  display: flex;
  gap: 12px;
  padding: 12px;
  background-color: #5A5DFF;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

nav button:hover, nav a:hover {
  text-decoration: underline;
}
